# Virtual environment
.genai_imagesearch_venv/
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# PyTorch / model weights
*.pt
*.pth
*.onnx
*.bin
*.safetensors

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
